Flask==2.2.5
pandas
numpy
scikit-learn
torch
transformers
imbalanced-learn
shap
xgboost
opencv-python       # if working with images (CV)
matplotlib          # for visualizations
seaborn             # for stylized plots
